.course {
  position: relative;
  &Header {
    background-color: #0b0144;
    margin-bottom: 50px;
  }
  &HeaderSub {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
  &HeaderInfo {
    margin-top: 40px;
    margin-right: 50px;
    @media (max-width: 900px) {
      margin: 20px;
    }
  }
  &Head {
    margin-top: 40px;
    font-weight: 700;
    color: #fff;
  }
  &SubHead {
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }
  &Time {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
  }
  &Mode {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  &Price {
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
  }
  &Join {
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &SubInfo {
    margin-top: 20px;
    display: flex;
    margin-bottom: 10px;
  }
  &Button {
    & > button {
      background-color: rgb(247, 148, 29);
      color: #fff;
      padding: 12px 20px;
      width: auto;

      // display: inline-block;
      border: none;
      outline: none;
      border-radius: 6px;
      &:hover {
        background-color: rgb(236, 176, 101);
        cursor: pointer;
      }
    }
  }

  &Info {
    margin-bottom: 20px;
    @media (max-width: 900px) {
      margin: 20px;
      width: 300px;
    }
    &Block {
      width: 1000px;
      @media (max-width: 900px) {
        margin: 20px;
      }
    }
    &Head {
      font-weight: 700;
      font-size: 20px;
    }
  }

  &Learn {
    font-weight: 700;
    font-size: 20px;
    &Accept {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 900px) {
        width: 380px;
      }
    }
    &Info {
      margin-top: 10px;
      display: flex;
      width: 500px;
      height: 60%;
      margin-bottom: 50px;
    }
  }
  &S {
    margin-top: 30px;
    &Head {
      font-weight: 700;
      font-size: 20px;
    }
    &Text {
      margin-top: 20px;
    }
    &SubInfo {
      margin-top: 20px;
      display: flex;
      margin-bottom: 10px;
    }
    &Time {
      font-weight: 500;
      font-size: 14px;
      margin-right: 20px;
    }
    &Mode {
      font-weight: 500;
      font-size: 14px;
    }
    &Button {
      margin-top: 20px;
      margin-bottom: 20px;
      & > button {
        background-color: rgb(247, 148, 29);
        color: #fff;
        padding: 12px 20px;
        width: auto;

        // display: inline-block;
        border: none;
        outline: none;
        border-radius: 6px;
        &:hover {
          background-color: rgb(236, 176, 101);
          cursor: pointer;
        }
      }
    }
    @media (max-width: 900px) {
      margin: 20px;
    }
  }
  &Pr {
    &Head {
      font-weight: 700;
      font-size: 20px;
    }
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px 0 70px 0;
    @media (max-width: 900px) {
      flex-direction: column;
      margin: 20px;
    }
  }
}

.video {
  margin-bottom: 100px;
  @media (max-width: 900px) {
    display: none;
  }
}
.img {
  @media (max-width: 900px) {
    display: none;
  }
}
.salary {
  &Head {
    font-weight: 700;
    font-size: 20px;
  }
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}
.TeacherCard {
  background-color: #0b0144;
  padding-bottom: 20px;
  &Head {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
  }
  &Block {
    display: flex;
    width: 70%;
    margin: 20px auto;
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
}
.Work {
  &Head {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
  }
  display: flex;
  width: 70%;
  margin: 20px auto;
  @media (max-width: 900px) {
    flex-direction: column;
    margin: 20px;
  }
}
