.button {
    background-color: rgb(247, 148, 29);
    color: #fff;
    padding: 12px 20px;
    width: auto;
    
    // display: inline-block;
    border: none;
    outline: none;
    border-radius: 6px;
}
