.card {
  background-color: #d1c060;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 430px;
  height: 250px;
  @media (max-width: 900px) {
    width: 400px;
  }

  margin: 20px auto;
  &H {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #4f4f4f;
    padding-top: 20px;
    padding-left: 10px;
  }
  &Header {
    display: flex;
  }
  &Head {
    margin-left: 30px;
    font-size: 20px;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  img {
    margin-left: 20px;
    width: 50px;
    vertical-align: middle;
  }

  &Text {
    color: #666;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 20px;
  }

  &Data {
    display: block;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    margin: 15px 0 0 15px;
  }

  &:hover {
    scale: 1.1;
    background-color: #d8cb84;
  }
}
