.answers {
    margin-top: 88px;
    &_title {
        font-size: 28px;
        font-weight: 700;
    }
}
.accordion {
    margin-top: 24px;
}
.qwe {
    position: relative;
    border: 2px solid transparent;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #f7941d, #27aae1) border-box;
    margin-bottom: 10px;
}
.accordionTitle,
.accordion__Heading {
    font-size: 18px;
    font-weight: 500;
    padding: 17px 30px 17px;
    display: block;
    color: #000;
    transition: background-color 0.5s ease-in-out;
    &:before {
        content: "+";
        font-size: 1.5em;
        line-height: 0.5em;
        float: right;
        margin-top: 6px;
        transition: transform 0.3s ease-in-out;
    }
}
.accordionTitleActive,
.accordionTitle.is-expanded {
    &:before {
        transform: rotate(-225deg);
    }
}
.accordionItem {
    height: auto;
    overflow: hidden;
    max-height: 50em;
    position: relative;
    transition: max-height 1s;
    p {
        max-width: 979px;
        z-index: 1;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        padding: 0 30px 30px;
    }
    @media screen and (min-width: 48em) {
        transition: max-height 0.5s;
    }
}
.accordionItem.is-collapsed {
    max-height: 0;
}
.no-js .accordionItem.is-collapsed {
    max-height: auto;
}
