.owl {
  display: flex;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  &Owl > Img {
    @media (max-width: 900px) {
      width: 350px;
    }
  }

  &Text {
    position: relative;
  }
  &Info {
    margin-left: 80px;
    width: 350px;
    @media (max-width: 900px) {
      margin-left: 0;
    }
  }
}
.text {
  position: absolute;
  top: 10px;
  left: 60px;
}
