.program {
  background-color: #0b0144;
  &Head {
    padding-top: 90px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #fff;
  }
  &TextHead {
    font-weight: 500;
    font-size: 24px;
    line-height: 108%;
    color: #fff;
  }
  &Text {
    font-weight: 400;
    font-size: 18px;
    line-height: 108%;
    color: #fff;
  }
  &Button {
    text-align: center;
    padding-bottom: 60px;
    & > button {
      background-color: rgb(247, 148, 29);
      color: #fff;
      padding: 12px 20px;
      width: auto;

      // display: inline-block;
      border: none;
      outline: none;
      border-radius: 6px;
      &:hover {
        background-color: rgb(236, 176, 101);
        cursor: pointer;
      }
    }
  }
}
.prog {
  display: flex;
  justify-content: center;
  &Block {
    margin: 20px;
    width: 20%;
    @media (max-width: 900px) {
      width: 80%;
    }
  }
  @media (max-width: 900px) {
    flex-direction: column;
  }
}
