.button {
    position: relative;
    cursor: pointer;
    padding: 16px 19px;
    background-color: #fff;
    border-radius: 6px;
    color: #000;
    border: none;
    outline: none;
}
.div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    filter: blur(10px);
    background: linear-gradient(90deg, rgb(247, 148, 29), rgb(39, 170, 225) 100%);
    opacity: 0.3;
}

.button:hover::before {
    border-radius: 6px;
    filter: blur(40px);
    /* градиент 1 */
    background: linear-gradient(90.00deg, rgb(247, 148, 29),rgb(39, 170, 225) 100%);
    opacity: 0.8;
}