.video {
    margin: 220px auto 0;
    &__wrapper {
        position: relative;
    }
    &__images {
        text-align: center;
        position: relative;
        z-index: 2;
        border-radius: 20px;
        img {
            max-width: 98vw;
            border-radius: 20px;
            filter: brightness(35%);
        }
    }
    &__button {
        position: absolute;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 98px;
        height: 98px;
        z-index: 4;
        @media (max-width: 560px) {
            width: 68px;
            height: 68px;
        }
        &_triangle {
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-38%, -50%);
                @media (max-width: 560px) {
                    width: 28px;
                }
            }
        }
    }

    &__other {
        position: relative;
        @media (max-width: 900px) {
            display: none;
        }
        &-1 {
            position: absolute;
            top: 50%;
            left: 18%;
            transform: translate(-59%, -360%);
        }
        &-2 {
            position: absolute;
            top: 50%;
            left: 18%;
            transform: translate(-85%, -124%);
        }
        &-3 {
            position: absolute;
            top: -42%;
            right: -3%;
            transform: translate(9%, -146%);
        }
        &-4 {
            position: absolute;
            top: -12%;
            right: 3%;
            transform: translate(3%, -26%);
        }
    }
}
